.tim-card {
  margin: 0.25rem;
  width: 5rem;
  height: 3.75rem;
  border: 1px solid #000000;
  border-radius: 4px;
  display: inline-block;
  overflow: hidden;
}
.tim-card img {
  width: 100%;
  height: auto;
  transform: scale(1.5);
  -ms-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  -o-transform: scale(1.5);
  -moz-transform: scale(1.5);
}
