* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
html {
  font-size: 40px;
}
body {
  font-size: 0.45rem;
  color: #333;
}
a {
  color: #32baa4;
  text-decoration: none;
}
a:hover {
  color: #12b099;
}
ul,
ol,
li {
  list-style-type: none;
}
.tim-app-body {
  position: relative;
  top: 1.5rem;
  margin-left: 6rem;
  padding: 0.5rem;
  overflow-x: hidden;
}
.text-green {
  color: #32baa4;
}
