@import "../../assets/css/mix.less";

@media screen and (max-width: 768px) { 
  .tim-nav-menu {
    display: none;
  }
  .tim-app-body {
    margin-left: 0;
  }
}

.tim-nav {
  position: fixed;
  width: 100%;
  min-width: 340px;  
  height: 60/@bs;
  background-color: @green;
  line-height: 50/@bs;
  color: @gray-light;  
  z-index: 10;
  .tim-nav-logo {
    margin: 0 20/@bs;
    width: 200/@bs;
    height: 60/@bs;
    display: inline-block;
    text-align: center;
    img {
      margin-top: 10/@bs;
      width: auto;
      height: 40/@bs;
      vertical-align: middle;
    }   
  }
  nav {
    display: inline-block;
    vertical-align: middle;
    a {
      font-size: 16px;
      color: @gray-light;
    }
  }
  .tim-nav-link {
    margin: 0 10/@bs;
  }
  .tim-nav-userinfo {
    float: right;
    margin-right: 20/@bs;
    font-size: 16px;
    img {
      margin: 10/@bs;
      width: 40/@bs;
      height: 40/@bs;
      border: 1px solid @green;
      border-radius: 50%;
      vertical-align: middle;      
    }
  }
}

.tim-app-body {
  position: relative;
  top: 60/@bs;
  margin-left: 240/@bs;
  padding: 20/@bs;
  overflow-x: hidden;
}

.tim-nav-menu {
  position: fixed;
  top: 60/@bs;
  bottom: 0;
  width: 260/@bs;
  color: @gray-light;
  background-color: @text;
  overflow-x: hidden;
  overflow-y: scroll;
  .level-1 {
    padding: 10/@bs; 
    font-size: 24/@bs;
    display: block;
    i {
      margin-right: 10/@bs;
    }
    .icon-xiangxia2, .icon-xiangyou1 {
      margin-left: 90/@bs;
    }
  }
  ul {
    overflow: hidden;
    transition: height 0.5s;
    li {
      padding: 10/@bs;
      padding-left: 46/@bs;
    }
  }
  a {
    color: @gray-light;      
  }
}

.tim-scroll-hidden {  
  position: fixed;
  top: 60/@bs;
  bottom: 0;
  left: 236/@bs;
  width: 24px;
  .tim-background-white(1);
}

