.tim-nav {
  position: fixed;
  width: 100%;
  min-width: 340px;
  height: 1.5rem;
  background-color: #32baa4;
  line-height: 1.25rem;
  color: #fafafa;
  z-index: 10;
}
.tim-nav .tim-nav-logo {
  margin: 0 0.5rem;
  width: 5rem;
  height: 1.5rem;
  display: inline-block;
  text-align: center;
}
.tim-nav .tim-nav-logo img {
  margin-top: 0.25rem;
  width: auto;
  height: 1rem;
  vertical-align: middle;
}
.tim-nav nav {
  display: inline-block;
  vertical-align: middle;
}
.tim-nav nav a {
  font-size: 16px;
  color: #fafafa;
}
.tim-nav .tim-nav-link {
  margin: 0 0.25rem;
}
.tim-nav .tim-nav-userinfo {
  float: right;
  margin-right: 0.5rem;
  font-size: 16px;
}
.tim-nav .tim-nav-userinfo img {
  margin: 0.25rem;
  width: 1rem;
  height: 1rem;
  border: 1px solid #32baa4;
  border-radius: 50%;
  vertical-align: middle;
}
.tim-nav-menu {
  position: fixed;
  top: 1.5rem;
  bottom: 0;
  width: 6.5rem;
  color: #fafafa;
  background-color: #333;
  overflow-x: hidden;
  overflow-y: scroll;
}
.tim-nav-menu .level-1 {
  padding: 0.25rem;
  font-size: 0.6rem;
  display: block;
}
.tim-nav-menu .level-1 i {
  margin-right: 0.25rem;
}
.tim-nav-menu .level-1 .icon-xiangxia2,
.tim-nav-menu .level-1 .icon-xiangyou1 {
  margin-left: 2.25rem;
}
.tim-nav-menu ul {
  overflow: hidden;
  transition: height 0.5s;
}
.tim-nav-menu ul li {
  padding: 0.25rem;
  padding-left: 1.15rem;
}
.tim-nav-menu a {
  color: #fafafa;
}
.tim-scroll-hidden {
  position: fixed;
  top: 1.5rem;
  bottom: 0;
  left: 5.9rem;
  width: 24px;
  background-color: #FFFFFF;
}
@media screen and (max-width: 768px) {
  .tim-nav-menu {
    display: none;
  }
}
